@model systemquchooch.Models.FichaCalificacion

@{
    ViewData["Title"] = "Create";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/formularioscrear.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <title>Document</title>
</head>
<body>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
             
                <h1 class="text-center">Registrar Ficha de calificación</h1>

                <p class="text-end">
                    <a class="btn btn-success" asp-controller="FichaCalificacions" asp-action="Create">Nueva Ficha de Calificación</a>
                    <a class="btn btn-outline-success" asp-controller="FichaCalificacions" asp-action="Index">Lista de Fichas de Calificaciones</a>

                </p>
                <hr class="LineaRecta" />

                <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="CodigoEstudiante" class="control-label"></label>
                <select asp-for="CodigoEstudiante" class ="form-control" asp-items="ViewBag.CodigoEstudiante"></select>
            </div></div>
                        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="CodigoPeriodo" class="control-label"></label>
                <select asp-for="CodigoPeriodo" class ="form-control" asp-items="ViewBag.CodigoPeriodo"></select>
            </div></div>
                        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="CodigoDesempeño" class="control-label"></label>
                <select asp-for="CodigoDesempeño" class ="form-control" asp-items="ViewBag.CodigoDesempeño"></select>
            </div></div></div>
                    <div class="row">
                        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="FechaEntrega" class="control-label"></label>
                                <input asp-for="FechaEntrega" class="form-control" data-val-required="Complete este campo." />
                <span asp-validation-for="FechaEntrega" class="text-danger"></span>
            </div></div>
                        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Notas" class="control-label"></label>
                                <input asp-for="Notas" class="form-control" data-val-required="Complete este campo." />
                <span asp-validation-for="Notas" class="text-danger"></span>
            </div></div>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" onclick="calcularPromedio()">Calcular Promedio</button>
                        </div>
                        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Promedio" class="control-label"></label>
                                <input asp-for="Promedio" class="form-control" readonly data-val-required="Complete este campo." />
                <span asp-validation-for="Promedio" class="text-danger" ></span>
            </div></div></div>
                    <div class="row">
                        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="ImagenFicha" class="control-label"></label>
                 <input asp-for="ImagenFicha" class="form-control" name="imgFicha" id="imgFicha" type="file" data-val-required="Complete este campo." />
                <span asp-validation-for="ImagenFicha" class="text-danger"></span>
            </div></div>
                        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="ImagenEstudiante" class="control-label"></label>
                <input asp-for="ImagenEstudiante" class="form-control" name="imgEstudiante" id="imgEstudiante" type="file" data-val-required="Complete este campo." />
                <span asp-validation-for="ImagenEstudiante" class="text-danger"></span>
            </div></div>
                        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="ImagenCarta" class="control-label"></label>
                <input asp-for="ImagenCarta" class="form-control" name="imgCarta" id="imgCarta" type="file" data-val-required="Complete este campo." />
                <span asp-validation-for="ImagenCarta" class="text-danger"></span>
            </div></div></div>

                    <div class="d-flex justify-content-end">
                <input type="submit" value="Crear" class="btn btn-primary me-2 w-25" />
                        <a class="btn btn-outline-primary me-2 w-25" asp-controller="Registro" asp-action="Principal">Cancelar</a>
            </div>
        </form>
    </div>
    </main>
</div>

    <script>
        function calcularPromedio() {
            var notas = document.querySelector('#Notas').value;
            var valores = notas.split(",");
            var suma = 0;
            var contador = 0;

            for (var i = 0; i < valores.length; i++) {
                var valor = parseInt(valores[i]);
                if (!isNaN(valor)) {
                    suma += valor;
                    contador++;
                }
            }
            var promedio = suma / contador;

            //var promedio = (parseFloat(calificacion1) + parseFloat(calificacion2)) / 2;
            document.querySelector('#Promedio').value = promedio;
        }
    </script>
    

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

</body>
</html>