<h1 class="text-center">INFORMES</h1>

<hr class="LineaRecta" />

<div class="row ">
    <div class="col-sm-3">
        <div class="card text-white mb-3 tarjetaPrincipal " style="max-width: 20rem;">
            <a asp-controller="HistorialEstudiantes" asp-action="Create">
                <div class=" card-body primeraTarjeta">
                </div>
                <div class="card-header textHeader text-center">Actualización de Estudiante</div>
            </a>
        </div>

    </div>
    <div class="col-sm-3">
        <div class="card text-white mb-3 tarjetaPrincipal " style="max-width: 20rem;">
            <a asp-controller="Estudiantes" asp-action="Create">
                <div class=" card-body primeraTarjeta2">
                </div>
                <div class="card-header textHeader text-center">Benificiarios </div>
            </a>
        </div>

    </div>

</div>


