html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.imagen {
    background-image: url("../images/ironMan.jpg");
}


.imagenTarjeta {
    background-image: url("../images/ironMan.jpg");
    height: 200px;
}

.primeraTarjeta {
    background-image: url("../images/01.jpg");
    height: 150px;
    /* background-color: #ffd800;*/
}

.primeraTarjeta2 {
    background-image: url("../images/02.jpg");
    height: 150px;
    /* background-color: #ffd800;*/
}

.primeraTarjeta3 {
    background-image: url("../images/03.jpg");
    height: 150px;
    /* background-color: #ffd800;*/
}

.primeraTarjeta4 {
    background-image: url("../images/04.jpg");
    height: 150px;
    /* background-color: #ffd800;*/
}

.primeraTarjeta5 {
    background-image: url("../images/05.jpg");
    height: 150px;
    /* background-color: #ffd800;*/
}

.primeraTarjeta6 {
    background-image: url("../images/06.jpg");
    height: 150px;
    /* background-color: #ffd800;*/
}

.tarjetaPrincipal {
    /* background-color: #90990a; */
    border-width: 3px;
    /*border-left-width: 15px;*/
}

.lineaRecta {
    background-color: #90990a;
}

.textHeader:hover {
    border-color: #90990a;
    font-weight: 400;
}

.bordep {
    border-top: 1px solid #ff9999;
    border-right: 2px dotted #99ff99;
    border-bottom: 2px dashed #9999ff;
    border-left: 4px double #666666;
}


.primeraTarjeta001 {
    background-image: url("../images/001.jpg");
    height: 150px;
    /* background-color: #ffd800;*/
}

.primeraTarjeta002 {
    background-image: url("../images/002.jpg");
    height: 150px;
    /* background-color: #ffd800;*/
}

.primeraTarjeta003 {
    background-image: url("../images/003.jpg");
    height: 150px;
    /* background-color: #ffd800;*/
}

.primeraTarjeta004 {
    background-image: url("../images/004.jpg");
    height: 150px;
    /* background-color: #ffd800;*/
}

.primeraTarjeta005 {
    background-image: url("../images/005.jpg");
    height: 150px;
    /* background-color: #ffd800;*/
}

.primeraTarjeta006 {
    background-image: url("../images/006.jpg");
    height: 150px;
    /* background-color: #ffd800;*/
}

.primeraTarjeta007 {
    background-image: url("../images/007.jpg");
    height: 150px;
    /* background-color: #ffd800;*/
}

.primeraTarjeta008 {
    background-image: url("../images/008.jpg");
    height: 150px;
    /* background-color: #ffd800;*/
}

.primeraTarjeta009 {
    background-image: url("../images/009.jpg");
    height: 150px;
    /* background-color: #ffd800;*/
}

.primeraTarjeta0010 {
    background-image: url("../images/0010.jpg");
    height: 150px;
    /* background-color: #ffd800;*/
}

.primeraTarjetaa1 {
    background-image: url("../images/a1.jpg");
    height: 150px;
    /* background-color: #ffd800;*/
}

.primeraTarjetaa2 {
    background-image: url("../images/a2.jpg");
    height: 150px;
    /* background-color: #ffd800;*/
}

.primeraTarjetac1 {
    background-image: url("../images/c1.jpg");
    height: 150px;
    /* background-color: #ffd800;*/
}

.primeraTarjetac2 {
    background-image: url("../images/c2.jpg");
    height: 150px;
    /* background-color: #ffd800;*/
}


.primeraTarjetai1 {
    background-image: url("../images/i1.jpg");
    height: 150px;
    /* background-color: #ffd800;*/
}

.primeraTarjetai2 {
    background-image: url("../images/i2.jpg");
    height: 150px;
    /* background-color: #ffd800;*/
}

.primeraTarjetai3{
    background-image: url("../images/i3.jpg");
    height: 150px;
    /* background-color: #ffd800;*/
}

.primeraTarjetai4 {
    background-image: url("../images/i4.jpg");
    height: 150px;
    /* background-color: #ffd800;*/
}

.primeraTarjetai5{
    background-image: url("../images/i5.jpg");
    height: 150px;
    /* background-color: #ffd800;*/
}



.primeraTarjetac001 {
    background-image: url("../images/c001.jpg");
    height: 150px;
    /* background-color: #ffd800;*/
}

.primeraTarjetac002 {
    background-image: url("../images/c002.jpg");
    height: 150px;
    /* background-color: #ffd800;*/
}

.primeraTarjetac003 {
    background-image: url("../images/c003.jpg");
    height: 150px;
    /* background-color: #ffd800;*/
}

.primeraTarjetac004 {
    background-image: url("../images/c004.jpg");
    height: 150px;
    /* background-color: #ffd800;*/
}

.primeraTarjetac005 {
    background-image: url("../images/c005.jpg");
    height: 150px;
    /* background-color: #ffd800;*/
}
.primeraTarjetac006 {
    background-image: url("../images/c006.jpg");
    height: 150px;
    /* background-color: #ffd800;*/
}
