html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;

}

.imagen {
    background-image: url("../images/ironMan.jpg");
}


.imagenTarjeta {
    background-image: url("../images/ironMan.jpg");
    height: 200px;
}

.primeraTarjeta {
    background-image: url("../images/01.jpg");
    height: 150px;
    /* background-color: #ffd800;*/
}
.primeraTarjeta2 {
    background-image: url("../images/02.jpg");
    height: 150px;
    /* background-color: #ffd800;*/
}
.primeraTarjeta3 {
    background-image: url("../images/03.jpg");
    height: 150px;
    /* background-color: #ffd800;*/
}
.primeraTarjeta4 {
    background-image: url("../images/04.jpg");
    height: 150px;
    /* background-color: #ffd800;*/
}
.primeraTarjeta5 {
    background-image: url("../images/05.jpg");
    height: 150px;
    /* background-color: #ffd800;*/
}
.primeraTarjeta6 {
    background-image: url("../images/06.jpg");
    height: 150px;
    /* background-color: #ffd800;*/
}
.tarjetaPrincipal {
    /* background-color: #90990a; */
    border-width: 3px;
    /*border-left-width: 15px;*/
}

.lineaRecta {
    background-color: #90990a;
}

.textHeader:hover {
    border-color: #90990a;
    font-weight: 400;
}

.bordep {
    border-top: 1px solid #ff9999;
    border-right: 2px dotted #99ff99;
    border-bottom: 2px dashed #9999ff;
    border-left: 4px double #666666;
}