<h1 class="text-center">REGISTROS AUXILIARES</h1>
<p class="text-end">
    <a class="btn btn-outline-success" asp-controller="Registro" asp-action="Principal">Principales</a>
    <a class="btn btn-success" asp-controller="Registro" asp-action="Auxiliar">Auxiliares</a>

</p>

<div class="row ">
    <div class="col-sm-3">
        <div class="card text-white mb-3 tarjetaPrincipal " style="max-width: 20rem;">
            <a asp-controller="Carreras" asp-action="Create">
                <div class=" card-body primeraTarjeta001">
                </div>
                <div class="card-header textHeader text-center"> Carreras</div>
            </a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card text-white mb-3 tarjetaPrincipal " style="max-width: 20rem;">
            <a asp-controller="Comunidads" asp-action="Create">
                <div class=" card-body primeraTarjeta002">
                </div>
                <div class="card-header textHeader text-center">Comunidades</div>
            </a>
        </div>

    </div>
    <div class="col-sm-3">
        <div class="card text-white mb-3 tarjetaPrincipal " style="max-width: 20rem;">
            <a asp-controller="Cursoes" asp-action="Create">
                <div class=" card-body primeraTarjeta003">
                </div>
                <div class="card-header textHeader text-center"> Cursos</div>
            </a>
        </div>

    </div>
</div>

<div class="row ">
    <div class="col-sm-3">
        <div class="card text-white mb-3 tarjetaPrincipal004 " style="max-width: 20rem;">
            <a asp-controller="Establecimientoes" asp-action="Create">
                <div class=" card-body primeraTarjeta004">
                </div>
                <div class="card-header textHeader text-center">Establecimiento</div>
            </a>
        </div>

    </div>
    <div class="col-sm-3">
        <div class="card text-white mb-3 tarjetaPrincipal005 " style="max-width: 20rem;">
            <a asp-controller="Gradoes" asp-action="Create">
                <div class=" card-body primeraTarjeta005">
                </div>
                <div class="card-header textHeader text-center"> Grados</div>
            </a>
        </div>

    </div>


    <div class="col-sm-3">
        <div class="card text-white mb-3 tarjetaPrincipal " style="max-width: 20rem;">
            <a asp-controller="NivelAcademicoes" asp-action="Create">
                <div class=" card-body primeraTarjeta006">
                </div>
                <div class="card-header textHeader text-center">Nivel académicos</div>
            </a>
        </div>
    </div>
</div>



<div class="row ">

    <div class="col-sm-3">
        <div class="card text-white mb-3 tarjetaPrincipal " style="max-width: 20rem;">
            <a asp-controller="Pais" asp-action="Create">
                <div class=" card-body primeraTarjeta007">
                </div>
                <div class="card-header textHeader text-center"> Países</div>
            </a>
        </div>

    </div>

    <div class="col-sm-3">
        <div class="card text-white mb-3 tarjetaPrincipal " style="max-width: 20rem;">
            <a asp-controller="Patrocinadors" asp-action="Create">
                <div class=" card-body primeraTarjeta008">
                </div>
                <div class="card-header textHeader text-center"> Patrocinadores</div>
            </a>
        </div>

    </div>
    <div class="col-sm-3">
        <div class="card text-white mb-3 tarjetaPrincipal " style="max-width: 20rem;">
            <a asp-controller="Proveedors" asp-action="Create">
                <div class=" card-body primeraTarjeta009">
                </div>
                <div class="card-header textHeader text-center"> Proveedores</div>
            </a>
        </div>

    </div>
</div>

<div class="row">

    <div class="col-sm-3">
        <div class="card text-white mb-3 tarjetaPrincipal " style="max-width: 20rem;">
            <a asp-controller="Profesions" asp-action="Create">
                <div class=" card-body primeraTarjeta0010">
                </div>
                <div class="card-header textHeader text-center"> Profesiones</div>
            </a>
        </div>

    </div>

</div>