<h1 class="text-center">REGISTROS PRINCIPALES</h1>
<p class="text-end">
    <a class="btn btn-success" asp-controller="Registro" asp-action="Principal">Principales</a>
    <a class="btn btn-outline-success" asp-controller="Registro" asp-action="Auxiliar">Auxiliares</a>

</p>
<hr class="LineaRecta" />

<div class="row ">
    <div class="col-sm-3">
        <div class="card text-white mb-3 tarjetaPrincipal " style="max-width: 20rem;">
            <a asp-controller="HistorialEstudiantes" asp-action="Create">
                <div class=" card-body primeraTarjeta">
                </div>
                <div class="card-header textHeader text-center">Actualización de Estudiante</div>
            </a>
        </div>

    </div>
    <div class="col-sm-3">
        <div class="card text-white mb-3 tarjetaPrincipal " style="max-width: 20rem;">
            <a asp-controller="Estudiantes" asp-action="Create">
                <div class=" card-body primeraTarjeta2">
                </div>
                <div class="card-header textHeader text-center">Benificiarios </div>
            </a>
        </div>

    </div>
    <div class="col-sm-3">
        <div class="card text-white mb-3 tarjetaPrincipal " style="max-width: 20rem;">
            <a asp-controller="FichaCalificacions" asp-action="Create">
                <div class=" card-body primeraTarjeta3">
                </div>
                <div class="card-header textHeader text-center">Calificaciones</div>
            </a>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <div class="card text-white mb-3 tarjetaPrincipal " style="max-width: 20rem;">
            <a asp-controller="OrdenCompras" asp-action="Create">
                <div class=" card-body primeraTarjeta4">
                </div>
                <div class="card-header textHeader text-center">Compras</div>
            </a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card text-white mb-3 tarjetaPrincipal " style="max-width: 20rem;">
            <a asp-controller="Gastoes" asp-action="Create">
                <div class=" card-body primeraTarjeta5">
                </div>
                <div class="card-header textHeader text-center"> Gastos</div>
            </a>
        </div>

    </div>
    <div class="col-sm-3">
        <div class="card text-white mb-3 tarjetaPrincipal " style="max-width: 20rem;">
            <a asp-controller="Tutoriums" asp-action="Create">
                <div class=" card-body primeraTarjeta6">
                </div>
                <div class="card-header textHeader text-center"> Tutorias</div>
            </a>
        </div>

    </div>
</div>
