<<<<<<< HEAD
/* _content/systemquchooch/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-z6qxmccazj] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a[b-z6qxmccazj] {
  color: #0077cc;
}
.textoPrincipal[b-z6qxmccazj] {
    color: #ffffff;

}
.btn-primary[b-z6qxmccazj] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-z6qxmccazj], .nav-pills .show > .nav-link[b-z6qxmccazj] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-z6qxmccazj] {

  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-z6qxmccazj] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-z6qxmccazj] {
    background-color: #808000;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-z6qxmccazj] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-z6qxmccazj] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
=======
/* _content/systemquchooch/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-z6qxmccazj] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-z6qxmccazj] {
  color: #0077cc;
}

.btn-primary[b-z6qxmccazj] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-z6qxmccazj], .nav-pills .show > .nav-link[b-z6qxmccazj] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-z6qxmccazj] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-z6qxmccazj] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-z6qxmccazj] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-z6qxmccazj] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-z6qxmccazj] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
>>>>>>> origin/pricipal12
